@import "../../../node_modules/bootstrap/scss/functions";
@import "variables";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.root {
    height: 100%;
    position: relative;
    left: 0;
    transition: left $sidebar-transition-time ease-in-out;
}

.wrap {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    right: 0;
    left: 0;
    transition: left $sidebar-transition-time ease-in-out, margin-left $sidebar-transition-time ease-in-out;

    @media print {
        margin: 0;
    }

    @media (max-width: breakpoint-max(sm)) {
        margin-left: 0;
        left: 0;
    }

    :global(.sidebar-hide) & {
        margin: 0;
    }
}

.content {
    position: relative;
    padding: $layout-padding;
    background-color: $body-bg;
    overflow: auto;
}